
.section-3{
 background-color: #f6f6f6;

}

/*
.section-3 div p{

    
    font-size: 1,25rem;
    float: right;
}
*/


.section-3 div.Features{
  
    float: none;
    text-align: left;
    position: relative;
    display: grid;
  
}

.section-3 div.Features2{
    float: none;
    text-align: left;
    position: relative;
    display: grid;
    gap: 3em;
   
}



.section-3 div.Features3{
    float: none;
    text-align: left;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,auto);
gap: 10em;
margin-bottom: 8em;
   
}

.section-3 div.content{

    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(68, 66, 66);
    text-align: right;
   
 
    
    
}


.section-3 div img{
 

    width: 30%;
    float: right 10%;
    

}

