.section-2 {
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-bottom: 80px;
    width: 1400px;
}

.section-2 h1 {
    margin-top: 80px;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(43, 41, 41);
}

.section-2 .line-break {
    height: 1px;
    border-bottom: 5px solid rgb(87, 163, 198);
    width: 100px;

    margin-bottom: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 30px;
}

.grid-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    height: 400px;
    width: 380px;
    margin: 0;

    /* border: .5px solid black; */
}

.grid-container img {
    height: 45%;
    width: 60%;
    margin: 0;
}

.grid-container div h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 66, 66);
    margin-bottom: 30px;
    margin-top: 30px;
    margin: 0;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.grid-container div p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 84, 84);
    height: 30%;
    font-size: 16px;
}